
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Varela+Round&display=swap");
body {
    background: #fff;
    font-family: "Varela Round", sans-serif;;
  }
#PrizmWrapper{
    max-width: 100%;
    height: 800px;
    margin: auto;
    overflow-y: visible;
    overflow-x: hidden;
}

#PrizmWrapper .graphline{
    width: 1300px;
    height: 400px;
    background-color: transparent;
    position: absolute;
    border: 5px #1dcbb6 solid;
    border-radius: 100% 0;
    border-left: transparent;
    border-top: transparent;
}

.slideshow-container
{
  position: relative;
  top: 100px;
  display: -webkit-inline-box;
  left: 0;
  flex-flow: row;
  transition: ease 1s all;
}
.arrowlink{
  position: absolute;
    right: 1em;
    bottom: 0;
}
.arrowlink i{
  color: transparent;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1dcbb6;
}

.mySlides
{
  display: block;
  position: relative;
  padding: 60px;
  opacity: 0;
  margin: 0 2em;
  text-align: left;
  max-height: 250px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  background: #fff;
  max-width: 350px;
  transition: ease 1s all;
}
.commingslide{
  opacity: 0.3;
}
.mySlides h3{
  color: #1dcbb6;
}
.slideactive{
  opacity: 1;
  z-index: 9999;
}
.activepoint .img-handler-bot{
  background: #1dcbb6;
  color: #fff;
}
.grapharea{
  margin: -200px auto 0;
  max-width: 1300px;
  position: relative;
}
.timelinearea{
  position: absolute; 
  text-align: center; 
  bottom: -517px;;
  max-width: 1300px;
}
.timelinearea ul{
  display: flex; 
  list-style: none; 
}
.timelinearea ul:before{
  background: #1dcbb6;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  left: -2px;
  top: 1px;
}
.timelinearea ul:after{
  background: #1dcbb6;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  right: -8px;
  bottom: 507.4px;
}
.timelinearea ul li{
  padding: 0 15px;
  position: relative;
}
.timelinearea ul li::before{
  content: '';
  width: 2px;
  height: 25px;
  background: #ccc;
  position: absolute;
  left: calc(50% - 5px);
}
.timelinearea ul li .dot{
  position: absolute;
  left: calc(50% - 10px);
  width: 10px;
  height: 10px;
  background: #1dcbb6;
  border: 1px solid #1dcbb6;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  cursor: pointer;
  transition: .4s ease all;
}
.timelinearea ul li[data-position='1'] .dot{
  top: -15px;
}
.timelinearea ul li[data-position='2'] .dot{
  top: -20px;
}
.timelinearea ul li[data-position='3'] .dot{
  top: -30px;
}
.timelinearea ul li[data-position='4'] .dot{
  top: -51px;
}
.timelinearea ul li[data-position='5'] .dot{
  top: -80px;
}
.timelinearea ul li[data-position='6'] .dot{
  top: -117px;
}
.timelinearea ul li[data-position='7'] .dot{
  top: -182px;
}
.timelinearea ul li[data-position='8'] .dot{
  top: -280px;
}
.timelinearea ul li[data-position='1']::before{
  top: -5px;
  height: 5px;
}
.timelinearea ul li[data-position='2']::before{
  top: -10px;
  height: 10px;
}
.timelinearea ul li[data-position='3']::before{
  top: -20px;
  height: 20px;
}
.timelinearea ul li[data-position='4']::before{
  top: -41px;
  height: 41px;
}
.timelinearea ul li[data-position='5']::before{
  top: -70px;
  height: 70px;
}
.timelinearea ul li[data-position='6']::before{
  top: -107px;
  height: 107px;
}
.timelinearea ul li[data-position='7']::before{
  top: -172px;
  height: 172px;
}
.timelinearea ul li[data-position='8']::before{
  top: -270px;
  height: 270px;
}
.activedot{
  border: 4px solid #fff !important;
  width: 13px !important;
  height: 13px !important;
  margin-top: -5px;
  margin-left: -4px;
}
.activeblock{
  border-radius: 15px;
  background: #1dcbb6;
  color: #fff;
}