
body {
    background: #e1e7f3;
  }
@-webkit-keyframes pulse
{
  0%
  {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(51,217,178,.7);
  }

  70%
  {
    transform: scale(1);
    box-shadow: 0 0 0 10px transparent;
  }

  to
  {
    transform: scale(.95);
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes pulse
{
  0%
  {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(51,217,178,.7);
  }

  70%
  {
    transform: scale(1);
    box-shadow: 0 0 0 10px transparent;
  }

  to
  {
    transform: scale(.95);
    box-shadow: 0 0 0 0 transparent;
  }
}

#PrizmWrapper{
    max-width: 1300px;
    margin: auto;
}

#PrizmWrapper .ps-timeline-sec,#PrizmWrapper .ps-timeline-sec .container
{
  position: relative;
}
#PrizmWrapper .graphline{
    width: 1300px;
    height: 300px;
    background-color: transparent;
    position: absolute;
    border: 5px #1dcbb6 solid;
    border-radius: 100% 0;
    border-left: transparent;
    border-top: transparent;
}

#PrizmWrapper .ps-timeline-sec .container ol:before
{
  background: #1dcbb6;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  left: -2px;
  top: calc(100% - 8px);
}

#PrizmWrapper .ps-timeline-sec .container ol:after
{
  background: #1dcbb6;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  right: -7px;
  top: -4px;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline
{
  margin: 250px 0 0;
  height: 300px;
  padding: 0;
  list-style: none;
  border-width: 5px;
  background: transparent;
  pointer-events: none;
    border-style: solid;
    border-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-radius: 100% 0px;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li
{
  float: left;
  width: 12.5%;
  padding-top: 30px;
  position: relative;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span
{
  width: 10px;
  height: 10px;
  background: #1dcbb6;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  text-align: center;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: 292px;
  left: 50%;
  cursor: pointer;
  pointer-events: all;
  transition: .4s ease all;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span:hover
{
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.active
{
  background: #fff;
  border: 4px solid #1dcbb6;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.active:hover
{
  -webkit-animation: 0;
  animation: 0;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before
{
  content: '';
  color: #1dcbb6;
  width: 2px;
  height: 130px;
  background: #1dcbb6;
  position: absolute;
  top: 10px;
  left: 40%;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after
{
  content: '';
  color: #1dcbb6;
  width: 8px;
  height: 8px;
  background: #1dcbb6;
  position: absolute;
  bottom: -130px;
  left: 1px;
  border-radius: 100%;
}




#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before
{
  content: '';
  color: #1dcbb6;
  width: 3px;
  height: 90px;
  background: #1dcbb6;
  position: absolute;
  top: 10px;
  left: 40%;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after
{
  content: '';
  color: #1dcbb6;
  width: 8px;
  height: 8px;
  background: #1dcbb6;
  position: absolute;
  bottom: -90px;
  left: 1.5px;
  border-radius: 100%;
}


#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img,#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img
{
  display: table;
  margin: 0 auto;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot
{
  position: absolute;
  bottom: -400px;
  width: 100%;
  height: -webkit-fill-available;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li p
{
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .ps-top
{
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}

#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .ps-bot
{
  position: absolute;
  margin-top: 35px;
  left: -5rem;
  width: 100%;
}

#PrizmWrapper .explainer p
{
  text-align: right!important;
  width: 100%!important;
}

#PrizmWrapper .explainer .explainerheader
{
  color: #1dcbb6;
  font-size: 2rem;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}

#PrizmWrapper .explainer .explainerheader p
{
  font-size: 22px;
}

#PrizmWrapper .explainer
{
  width: 100%;
}

@media screen and (max-width:767px)
{
  #PrizmWrapper .ps-timeline-sec .container ol:before
  {
    background: #1dcbb6;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 0!important;
    left: 21px!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol:after
  {
    background: #1dcbb6;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit!important;
    left: 21px;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline
  {
    border-left: 2px solid #1dcbb6;
    padding-left: 0!important;
    padding-top: 120px!important;
    border-top: 0!important;
    margin: 130px 0 130px 25px!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li
  {
    height: 220px;
    float: none!important;
    width: inherit!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img
  {
    width: 70px;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li:last-child
  {
    margin: 0;
    bottom: 0!important;
    height: 120px;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot
  {
    bottom: 140px!important;
    width: 70%!important;
    margin-left: 35px!important;
    margin-top: 0!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img
  {
    width: 100%;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top
  {
    margin-bottom: 0!important;
    top: 20px;
    width: 50%!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span
  {
    left: -10px!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after,#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before,#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after,#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before
  {
    content: none!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot,#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .img-handler-top
  {
    position: absolute!important;
    bottom: 220px!important;
    width: 70%!important;
    float: left!important;
    margin-left: 35px!important;
    margin-bottom: 0!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img
  {
    margin: 0 auto!important;
    width: 80%!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li p
  {
    text-align: left!important;
    width: 100%!important;
    margin: 0 auto!important;
  }

  #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .ps-bot,#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li .ps-top
  {
    width: 60%!important;
    float: right!important;
    right: 0;
    top: -40px;
  }

  .ps-bot
  {
    display: none;
  }
}


#rt-container-1040768234 .slick-arrow
{
  background-color: transparent!important;
}

#PrizmWrapper .slidepara
{
  font-weight: 600;
}

.slideshow-container
{
  position: absolute;
  top: 100px;
}

.mySlides
{
  display: none;
  padding: 80px;
  text-align: center;
  box-shadow: 38px 38px 64px #d1d7e2, -38px -38px 64px #f1f7ff;
  border-radius: 65px;
  background: #e1e7f3;
  max-width: 350px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='2'] span.ps-sp-bot{
    top: 285px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='3'] span.ps-sp-bot{
    top: 275px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='4'] span.ps-sp-bot{
    top: 260px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='5'] span.ps-sp-bot{
    top: 240px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='6'] span.ps-sp-bot{
    top: 206px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='7'] span.ps-sp-bot{
    top: 165px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='8'] span.ps-sp-bot{
    top: 90px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='1']{
    position: absolute;
    left: calc(12.5%*0);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='2']{
    position: absolute;
    left: calc(12.5%*1);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='3']{
    position: absolute;
    left: calc(12.5%*2);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='4']{
    position: absolute;
    left: calc(12.5%*3);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='5']{
    position: absolute;
    left: calc(12.5%*4);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='6']{
    position: absolute;
    left: calc(12.5%*5);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='7']{
    position: absolute;
    left: calc(12.5%*6);
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='8']{
    position: absolute;
    left: calc(12.5%*7);
}
/* #PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='2'] span.ps-sp-bot:before{
    height: 95px;
}
#PrizmWrapper .ps-timeline-sec .container ol.ps-timeline li[data-position='2'] span.ps-sp-bot:after{
    bottom: -95px;
} */